<div class="sidenav">
  </div>
<div class="header">
    <button class="tablink" (click)="selectOption('registration')" id="defaultOpen">Registration</button>
    <button class="tablink" (click)="selectOption('details')">Details</button>
</div>

<div style="margin-top: 15px;"> <h3 style="text-align: center;"> Employee Details:</h3></div>
<div>
    <div class="emp-table">
      <table>
        <tr>
          <th *ngFor="let header of headers">{{ header }}</th>
        </tr>
        <tr *ngFor="let employee of  employees" (click)="onUpdate(employee)">
          <td> {{employee.firstName}} </td>
          <td> {{employee.lastName}} </td>
          <td> {{employee.gender}} </td>
          <td> {{employee.dateOfBirth}} </td>
          <td> {{employee.department}} </td>
        </tr>
      </table>
    </div>
</div>